<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main>
            <ul class="">
                <% data.forEach(function(paintings) { %>
                    <li class="detail">
                        <a href="/" class="button">X</a>
                        <a href="schilderijen/<%- paintings.objectNumber %>"><img src=<%- paintings.webImage.url.slice(0, -3)+"=s1000" %>></a>
                        <p><%- paintings.longTitle %></p>
                    </li>
                <% }) %>  
            </ul>
        </main>
        <%- include('../partials/serviceWorker') %>
    </body>
</html>